In [2]:
import pandas as pd

base = pd.read_csv('./BankChurners.csv')

base.head()

C:\Users\Rubeus\AppData\Local\Temp\ipykernel_23708\263394517.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [3]:
selected_columns = ['Customer_Age','Gender','Dependent_count','Education_Level','Marital_Status','Income_Category','Credit_Limit','Card_Category', 'Months_on_book', 'Total_Trans_Amt', 'Total_Trans_Ct']

filtered_data = base[selected_columns]

filtered_data.head()

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Credit_Limit,Card_Category,Months_on_book,Total_Trans_Amt,Total_Trans_Ct
0,45,M,3,High School,Married,$60K - $80K,12691.0,Blue,39,1144,42
1,49,F,5,Graduate,Single,Less than $40K,8256.0,Blue,44,1291,33
2,51,M,3,Graduate,Married,$80K - $120K,3418.0,Blue,36,1887,20
3,40,F,4,High School,Unknown,Less than $40K,3313.0,Blue,34,1171,20
4,40,M,3,Uneducated,Married,$60K - $80K,4716.0,Blue,21,816,28

In [8]:
import re

# filtered_data_q = filtered_data.sub("unknow", "0", flags=re.IGNORECASE)
filtered_data.replace("Unknown", -1, inplace=True)
renda = filtered_data['Income_Category']
Income_Category_trated = {
    "$60K - $80K": 0,
    "Less than $40K": 1,
    "$80K - $120K": 2,
    "Less than $40K": 3,
    "$60K - $80K": 4
}
Marital_Status_trated = {
    "Married":0,
    "Single": 1,
    "Divorced":2
}
filtered_data['Income_Category'].replace(Income_Category_trated, inplace=True)
filtered_data['Marital_Status'].replace(Marital_Status_trated, inplace=True)
filtered_data.head()

C:\Users\Rubeus\AppData\Local\Temp\ipykernel_23708\4127179304.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data.replace("Unknown", -1, inplace=True)
C:\Users\Rubeus\AppData\Local\Temp\ipykernel_23708\4127179304.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Income_Category'].replace(Income_Category_trated, inplace=True)
C:\Users\Rubeus\AppData\Local\Temp\ipykernel_23708\4127179304.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filtered_data['Marital_Status'].replace(Marital_Status_trated, inplace=True)
C:\Users\Rubeus\AppData\Local\Temp\ipykernel_23708\4127179304.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['Marital_Status'].replace(Marital_Status_trated, inplace=True)

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Credit_Limit,Card_Category,Months_on_book,Total_Trans_Amt,Total_Trans_Ct
0,45,M,3,High School,0,4,12691.0,Blue,39,1144,42
1,49,F,5,Graduate,1,3,8256.0,Blue,44,1291,33
2,51,M,3,Graduate,0,2,3418.0,Blue,36,1887,20
3,40,F,4,High School,-1,3,3313.0,Blue,34,1171,20
4,40,M,3,Uneducated,0,4,4716.0,Blue,21,816,28

In [5]:
from sklearn.preprocessing import StandardScaler

data_encoded = pd.get_dummies(filtered_data, columns=['Gender', 'Marital_Status', 'Education_Level', 'Card_Category'])

scaler = StandardScaler()
data_encoder= scaler.fit_transform(data_encoded)

data_encoded.head()

ValueError: could not convert string to float: '$40K - $60K'